{:kotoba.app/id "cloud.itonami.isic-8521", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreihqeqiaz7sjyhhvehfistnqelbuunltiavpoigi4k6bd6avhvrksu", :kotoba.app/embed-url "ipfs://bafkreihqeqiaz7sjyhhvehfistnqelbuunltiavpoigi4k6bd6avhvrksu", :published {:archive "https://kotobase.net/ipfs/bafkreihqeqiaz7sjyhhvehfistnqelbuunltiavpoigi4k6bd6avhvrksu", :size 75776, :put-status 201, :get-status 200, :at "2026-08-15T13:40:13.204Z"}}
